body {
  font: 16px / 1.2 sans-serif;
}

h1 {
  font-size: 32px;
}

p {
  margin: 0 0 1em 0;
}

article {
  margin: 0 auto;
  max-width: 600px;
  padding: 5em;
}

#section-1 {
  background-color: red;
}

#section-2 {
  background-color: green;
}

#section-3 {
  background-color: blue;
}

#section-4 {
  background-color: yellow;
}

#section-5 {
  background-color: orange;
}
